/* Bagnard */
@font-face {
    font-family: 'Bagnard';
    src: url(../fonts/Bagnard/Bagnard.otf);
}

@font-face {
    font-family: 'Bluu';
    src: url(../fonts/BluuNext-Bold.otf);
}

@font-face {
    font-family: 'Young';
    src: url(../fonts/YoungSerif-Regular.otf);
}

/* Circular Std */
@font-face {
    font-family: 'Circular Book';
    src: url(../fonts/CircularStd/CircularStd-Book.otf);
}
@font-face {
    font-family: 'Circular Medium';
    src: url(../fonts/CircularStd/CircularStd-Medium.otf);
}
@font-face {
    font-family: 'Circular Bold';
    src: url(../fonts/CircularStd/CircularStd-Bold.otf);
}
@font-face {
    font-family: 'Circular Belack';
    src: url(../fonts/CircularStd/CircularStd-Black.otf);
}
