@import './reset'
@import './fonts'
@import './variables.styl'
@import './loco.styl'

* {
	user-select: none
}

body {
	overflow-x hidden
	overflow-y hidden
}

a {
	text-decoration: none
}

.explosion-icon-container {
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)

	.explosion-icon {
		opacity 0
		width 20px
	}
}
